<section class="mat-typography demo-container">

  <h1>Angular Cron Expression Editor by Cardiosmircem</h1>

    <mat-card class="demo-card">
      <mat-card-header class="demo-card-header">

        <mat-card-title>
          {{ 'cronEditor.lbl.selectCronFlavor' | translate }}
        </mat-card-title>
        <div>

          <!-- FLAVOR -->
          <mat-form-field>
            <mat-label>{{ 'cronEditor.lbl.flavor' | translate }}</mat-label>
            <mat-select (selectionChange)="cronFlavorChange($event)" [formControl]="cronFlavorFC">
              <mat-option *ngFor="let flavor of ['quartz', 'standard']" [value]="flavor">
                {{ flavor }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- LANGUAGE -->
          <mat-form-field>
            <mat-label>{{ 'cronEditor.lbl.language' | translate }}</mat-label>
            <mat-select (selectionChange)="changeLanguage($event)" [formControl]="languageFC">
              <mat-option *ngFor="let language of availableLanguages" [value]="language">
                {{ language }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </mat-card-header>

      <!-- TODO my cron editor here after the publishing on npm -->
      <app-cron-editor
        [options]="cronOptions"
        [cronStartingValue]="cronValue"
        (cronChange)="seeCron($event)">
      </app-cron-editor>

      <mat-card-footer class="demo-card-footer">
        <div>
          <h3>
            <b>Expression: {{ cronValue }}</b>
          </h3>
        </div>
      </mat-card-footer>

    </mat-card>
</section>
